* {
	box-sizing: border-box;
}
body, h1 {
	margin: 0;
	padding: 0;
}
.header {
	padding: 20px;
	background: #ccc;
	color: #fff;
}
.main {
	text-align: center;
	padding: 20px;
}

/*forms*/
#registerForm, #loginForm {
	width: 200px;
	margin: 0  auto;
	text-align: center;
}
.form-group {
	text-align: left;
}
