* {
	box-sizing: border-box;
}
body, h1 {
	margin: 0;
	padding: 0;
}
.clearfix:after {
	content "";
	display: table;
	clear: both;
}
.header {
	padding: 20px;
	background: #ccc;
	color: #fff;
}
.header h1 {
	float: left;
}
.initDB {
	float: right;
}
.navigation {
	padding-top: 20px;
	text-align: center;
}
.navigation li {
	display: inline-block;
	float: none;
}
.navigation li a:hover {
	cursor: pointer;
}
.nav>li>a:focus {
	background: inherit;
}

.main {
	text-align: center;
	padding: 20px;
}

/*forms*/
#registerForm, #loginForm {
	width: 200px;
	margin: 0  auto;
	text-align: center;
}
.form-group {
	text-align: left;
}

/*Tables*/
.profileTable {
	width: 400px;
	margin: 30px  auto;
}

